<%= tinymce_assets %>

<div class="row-fluid"> 

    <div class="col-md-4 left">
           <!-- <div>
                <img src="<%= asset_path("Hider.Cronix.Art.SMALL.jpg") %>" />
            </div> -->
    </div>

    <div class="col-md-8 right">

            <%= text_area_tag :content, "", :class => "tinymce", :rows => 10, :cols => 200 %>

    </div>

</div>


<!-- blogit functionality -->
<!-- <div class="row-fluid">
    <h2>OntoExplorer<span style="color:#b92429">.</span></h2>

    <div class="col-md-4 left">
           <div>
                <img src="<%= asset_path("Hider.Cronix.Art.SMALL.jpg") %>" />
            </div>
    </div>

    <div class="col-md-4 right">
            <h6>Datum<h6>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet nibh ut ornare fringilla. Pellentesque sollicitudin tortor mi, ac posuere ligula tincidunt vitae. Cras at tincidunt tortor, ut laoreet erat. Vivamus eu hendrerit libero. Integer vehicula ut leo eu iaculis.

            <p><a href>linkus1</a>    <a href>linkus2</a>    <a href>linkus3</a></p>

    </div>

</div> -->
