<h2>Buy</h2>

<div class="main">

    <div class="row-fluid">

        <div class="span4 no-margin">
            <div class="book_container">
                <img src="<%= asset_path("Hider.SoA.Art.SMALL.jpg") %>" />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet nibh ut ornare fringilla.
                </p>
            </div>

            <div class="bookstores">
                <ul>
                    <li>Amazon</li>
                    <li>Barnes & Noble</li>
                    <li>...</li>
                    <li>...</li>
                </ul>
            </div>

        </div>

        <div class="span4 no-margin">
            <div class="book_container">
                <img src="<%= asset_path("cronix-cover-bright.jpg") %>" />
                <p>
                    Cras at tincidunt tortor, ut laoreet erat. Vivamus eu hendrerit libero. Integer vehicula ut leo eu iaculis. Curabitur viverra est sem. Nulla facilisi.
                </p>
            </div>

            <div class="bookstores">
                <ul>
                    <li>Amazon</li>
                    <li>Barnes & Noble</li>
                    <li>...</li>
                    <li>...</li>
                </ul>
            </div>
        </div>

        <div class="span4 no-margin">
            <div class="book_container">
                <img src="<%= asset_path("book.png") %>" />
                <p>
                    Pellentesque sollicitudin tortor mi, ac posuere ligula tincidunt vitae.
                </p>
            </div>

            <div class="bookstores">
                <ul>
                    <li>Amazon</li>
                    <li>Barnes & Noble</li>
                    <li>...</li>
                    <li>...</li>
                </ul>
            </div>
        </div>

    </div>

</div>



