
<div class="main bg_dark">

    <div class="row-fluid center bg_bright">

        <div class="span4">

            <div class="book_container bg_dark">

                <a href="http://www.amazon.com/Spiders-Allah-Travels-Unbeliever-Frontline-ebook/dp/B004WPGGF2/ref=tmm_kin_swatch_0?_encoding=UTF8&sr=1-1&qid=1413845678" target="_blank">
                    <img src="https://s3.amazonaws.com/hiderwebsiteimages/Hider.SoA.Art.SMALL.jpg" />
                </a>
                <!-- <h3 class="book_title">The Spiders of Allah</h3> -->
                <p>
                    "‘Spiders’ is, by turns, hilarious, sardonic, and visceral. It’s a first-class war memoir, with a bow to Vonnegut and Brecht."
                </p>

                <p class="pull-right">
                    Tim McGirk, TIME
                </p>
                <br /><br />

                <p>
                    "A masterpiece...a work of great authority written with wit and wisdom."
                </p>
                <p class="pull-right">
                    Tim Butcher, author of 'Blood River'
                </p>
                <br /><br />

                <p>
                    "Hider's voice is incisive and rich in the human detail that only first-hand experience bestows. An essential work for anyone wishing to understand the swirling machinations of Iraq, its people and its war."
                </p>

                <p>
                    <span class="pull-right">Anthony Loyd,</span>
                    <span class="pull-right">author of 'My War Gone By, I Miss it So'</span>
                </p>
                <br /><br /><br />

            </div>

            <div class="bookstores bg_bright">

                <a class="btn btn-primary btn-lg book_buttons" role="button" href="http://www.amazon.com/Spiders-Allah-Travels-Unbeliever-Frontline-ebook/dp/B004WPGGF2/ref=tmm_kin_swatch_0?_encoding=UTF8&sr=1-1&qid=1413845678" target="_blank">Kindle</a>
                    <a class="btn btn-primary btn-lg book_buttons" role="button" href="http://www.barnesandnoble.com/w/spiders-of-allah-james-hider/1100352263?ean=9781429984911" target="_blank">Nook</a>
                    <a class="btn btn-primary btn-lg book_buttons" role="button" href="http://www.amazon.co.uk/Spiders-Allah-James-Hider-ebook/dp/B0031RDWD6/ref=tmm_kin_swatch_0?_encoding=UTF8&sr=8-1&qid=1413845548" target="_blank">UK Kindle</a>
                <!-- <ul>
                    <li>
                        <a href="http://www.amazon.com/Spiders-Allah-Travels-Unbeliever-Frontline-ebook/dp/B004WPGGF2/ref=tmm_kin_swatch_0?_encoding=UTF8&sr=1-1&qid=1413845678" target="_blank">Amazon Kindle</a>
                    </li>
                    <li>
                        <a href="http://www.barnesandnoble.com/w/spiders-of-allah-james-hider/1100352263?ean=9781429984911" target="_blank">Barnes & Noble Nook</a>
                    </li> -->
                   <!--  <li>
                        <a href="http://www.amazon.co.uk/Spiders-Allah-James-Hider-ebook/dp/B0031RDWD6/ref=tmm_kin_swatch_0?_encoding=UTF8&sr=8-1&qid=1413845548" target="_blank">Amazon.co.uk</a>
                    </li>
                </ul> -->
            </div>

        </div>

        <div class="span4">

            <div class="book_container bg_dark">

                <a href="http://www.amazon.com/dp/B00P1OHT2C" target="_blank">
                    <img src="https://s3.amazonaws.com/hiderwebsiteimages/cronix-cover-bright.jpg" />
                </a>
                <!-- <h3 class="book_title">Cronix</h3> -->
                <!-- <p style="text-align:center">
                    Out Now!
                <p/> -->
                <p>

                    "This book is downright "Gibsonian".  The opening chapter not only pulls you in but forces a physiological reaction.  Hider, who used to chase bombs for a living as a reporter in the Mideast, is a genius at twisting the reader's comfort zone, and challenging our assumptions of what it means to be a human being.  Most of us think about immortality as a blissful state.  'Cronix' relieves of us this fallacy right quick, and provides an astonishingly fun ride <!-- while doing so -->."
                </p>
                <p>
                    <span class="pull-right">
                        <a href="http://comm.stanford.edu/faculty-bailenson/" target="_blank">Jeremy Bailenson</a>,</span>
                    <span class="pull-right">author of
                         <a href="http://www.infinitereality.org/" target="_blank">'Infinite Reality'</a>
                    </span>
                </p>
                    <!-- <p>
                    Pellentesque sollicitudin tortor mi, ac posuere ligula tincidunt vitae.
                    <p/>
                    <p>
                    Pellentesque sollicitudin tortor mi, ac posuere ligula tincidunt vitae.
                    </p> -->
                </p>

            </div>

            <div class="bookstores bg_bright">

                <a class="btn btn-primary btn-lg book_buttons" role="button" href="http://www.amazon.com/dp/B00P1OHT2C" target="_blank">Kindle</a>
                    <a class="btn btn-primary btn-lg book_buttons" role="button" href="https://www.amazon.co.uk/dp/B00P1OHT2C" target="_blank">UK Kindle</a>
                    <a class="btn btn-primary btn-lg book_buttons" role="button" href="https://www.amazon.fr/dp/B00P1OHT2C" target="_blank">Amazon.fr</a>

                <!-- <ul>
                    <li>
                        <a href="http://www.amazon.com/dp/B00P1OHT2C" target="_blank">Amazon Kindle</a>
                    </li>
                    <!<li>
                        <a href="">Barnes & Noble Nook</a>
                    </li> -->
                    <!-- <li>
                        <a href="https://www.amazon.co.uk/dp/B00P1OHT2C" target="_blank">Amazon.co.uk</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.fr/dp/B00P1OHT2C" target="_blank">Amazon.fr</a>
                    </li>
                </ul> -->

            </div>

        </div>

        <div class="span4">

            <div class="book_container bg_dark">

                <img src="https://s3.amazonaws.com/hiderwebsiteimages/Return.jpg" />
                <h3 class="book_title">The Cronix Oracle</h3>
                <p style="text-align:center">
                    Coming soon!
                <p/>

            </div>

            <div class="bookstores bg_bright">

                <ul>
                    <li>
                        <!-- <a href="">Amazon Kindle</a> -->
                        Available Soon on Kindle
                    </li>
                    <!-- <li>
                        <a href="">Barnes & Noble Nook</a>
                    </li>
                    <li>
                        <a href="">Amazon.co.uk</a>
                    </li> -->
                </ul>

            </div>

        </div>

    </div>

</div>



