<h2>Buy</h2>

<div class="row-fluid">

    <div class="span4 no-margin">
        <img class="book_container" src="<%= asset_path("Hider.SoA.Art.SMALL.jpg") %>" />
        <ul class="bookstores">
            <li>Amazon</li>
            <li>Barnes & Noble</li>
            <li>...</li>
            <li>...</li>               
        </ul>
    </div>

    <div class="span4 no-margin">
        <img class="book_container" src="<%= asset_path("Hider.Cronix.Art.SMALL.jpg") %>" />
        <ul class="bookstores">
            <li>Amazon</li>
            <li>Barnes & Noble</li>
            <li>...</li>
            <li>...</li>               
        </ul>   
    </div>

    <div class="span4 no-margin">
        <img class="book_container" src="<%= asset_path("book.png") %>" />
        <ul class="bookstores">
            <li>Amazon</li>
            <li>Barnes & Noble</li>
            <li>...</li>
            <li>...</li>               
        </ul>
    </div>

</div>




