<h2>Buy</h2>

<div class="row-fluid">

    <div class="span4">
        <!-- <div class="img_container"> -->
            <img src="<%= asset_path("Hider.Cronix.Art.SMALL.jpg") %>" />
        <!-- </div> -->
    </div>

    <div class="span8">
        <div class="left">
            <ul class="bookstores">
                <li>Amazon</li>
                <li>Barnes & Noble</li>
                <li>...</li>
                <li>...</li>
                <li>...</li>
                <li>...</li>
            </ul>
        </div>
        <div class="left">
            <ul class="bookstores">
                <li>Amazon</li>
                <li>Barnes & Noble</li>
                <li>...</li>
                <li>...</li>
                <li>...</li>
                <li>...</li>
            </ul>
        </div>
    </div>

</div>

<div class="row-fluid">

    <!-- <div class="span4"> -->
        <!-- <div class="img_container"> -->
            <img src="<%= asset_path("http://d.gr-assets.com/books/1316737765l/6411465.jpg") %>" />
        <!-- </div> -->
    <!-- </div> -->

    <div class="span8">
        <div class="left">
            <ul class="bookstores">
                <li>Amazon</li>
                <li>Barnes & Noble</li>
                <li>...</li>
                <li>...</li>
                <li>...</li>
                <li>...</li>
            </ul>
        </div>
        <div class="left">
            <ul class="bookstores">
                <li>Amazon</li>
                <li>Barnes & Noble</li>
                <li>...</li>
                <li>...</li>
                <li>...</li>
                <li>...</li>
            </ul>
        </div>
    </div>

</div>
