<h2>Buy</h2>

<div class="main">

    <div class="row-fluid">

        <div class="span4 no-margin">
            <div class="book_container">
                <img src="<%= asset_path("Hider.SoA.Art.SMALL.jpg") %>" />
                <p>
                    "‘Spiders’ is, by turns, hilarious, sardonic, and visceral. It’s a first-class war memoir, with a bow to Vonnegut and Brecht."
                </p><br />
                <p>
                    Tim McGirk, TIME
                </p>
                <p>
                    "A masterpiece...a work of great authority written with wit and wisdom."
                </p>
                <p>
                    Tim Butcher, author of 'Blood River'
                </p>
                <p>
                    "Hider's voice is incisive and rich in the human detail that only first-hand experience bestows. An essential work for anyone wishing to understand the swirling machinations of Iraq, its people and its war."
                </p><br />
                <br />
                <br />
                <p>
                    Anthony Loyd, author of 'My War Gone By, I Miss it So'
                </p>
            </div>

            <div class="bookstores">
                <ul>
                    <li><a href="http://www.amazon.com/Spiders-Allah-Travels-Unbeliever-Frontline-ebook/dp/B004WPGGF2/ref=tmm_kin_swatch_0?_encoding=UTF8&sr=1-1&qid=1413845678"/>Amazon Kindle</li>
                    <li><a href="http://www.barnesandnoble.com/w/spiders-of-allah-james-hider/1100352263?ean=9781429984911"/>Barnes & Noble Nook</li>
                    <li><a href="http://www.amazon.co.uk/Spiders-Allah-James-Hider-ebook/dp/B0031RDWD6/ref=tmm_kin_swatch_0?_encoding=UTF8&sr=8-1&qid=1413845548"/>Amazon.co.uk</li>
                    <li>...</li>
                </ul>
            </div>

        </div>

        <div class="span4 no-margin">
            <div class="book_container">
                <img src="<%= asset_path("cronix-cover-bright.jpg") %>" />
                <p>
                    Cras at tincidunt tortor, ut laoreet erat. Vivamus eu hendrerit libero. Integer vehicula ut leo eu iaculis. Curabitur viverra est sem. Nulla facilisi.
                </p>
            </div>

            <div class="bookstores">
                <ul>
                    <li>Amazon Kindle</li>
                    <!-- <li>Barnes & Noble</li>
                    <li>...</li>
                    <li>...</li> -->
                </ul>
            </div>
        </div>

        <div class="span4 no-margin">
            <div class="book_container">
                <img src="<%= asset_path("Return.jpg") %>" />
                <p>
                    Pellentesque sollicitudin tortor mi, ac posuere ligula tincidunt vitae.
                </p>
            </div>

            <div class="bookstores">
                <ul>
                    <li>Amazon</li>
                    <!-- <li>Barnes & Noble</li>
                    <li>...</li>
                    <li>...</li> -->
                </ul>
            </div>
        </div>

    </div>

</div>



