<h2>Cronix</h2>

  <div>
    <img class="img_small" src="<%= asset_path("Hider.Cronix.Art.SMALL.jpg") %>" />
  </div>

  <div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
  </div>
