<!-- <h2>Cronix</h2> -->

  <body class="cronix">

    <div class="span4 no-margin no-border"></div>
    <div class="span4 no-margin no-border">
      <img class="img_cronix no-margin" src="<%= asset_path("cronix-cover-bright.jpg") %>" />
    </div>
    <div class="span4 no-margin no-border"></div>

    <div class="clear no-margin no-border">
      <div class="jumbotron">
        <h1>Cronix</h1>
          <p>Recreational suicide bombings are on the rise, revelers in fancy dress are throwing themselves from the heights of the Empire State Building in increasing numbers. When scientists break the final frontier of Death and find a way for the soul to live incarnate forever, humanity leaves Earth with a bang, bound for a man-made paradise. On the Orbiters, supercomputers riding beyond the edge of Earth's atmosphere, these Eternals live out their wildest dreams or build fantastic idylls, free at last from the tyranny of Evolution.</p>

          <p>Back on Earth, however, the man known to history simply as the Missing Link, has been hiding out in the woods. Luis Oriente was the product of an experiment to capture and synthesize the human mind. In ultra human form, Oriente has spent centuries fleeing his past, living a quiet life away from prying eyes.</p>

          <p>But when a giant wolf disrupts the rhythm of his forest to deliver a cryptic message, Oriente is dragged back into the turbulent currents of the history he has tried so hard to avoid. Something is broken in paradise, and Evolution is not quite done with humanity yet.</p>

          <br />

          <div class="trailer">
            <p><span style="italics">Watch the Trailer</span></p>
              <iframe src="//www.youtube.com/embed/juIVgAwK21g" width="500" height="300"></iframe></div>
              <br />
          <a class="btn btn-primary btn-lg" role="button">Free Chapters</a>
          <a class="btn btn-primary btn-lg" role="button">Download</a>
          <a class="btn btn-primary btn-lg" role="button">Buy</a>
      </div>
    </div>


  </body>
