<!-- <h2>Cronix</h2> -->

  <body class="cronix">

    <div class="span4 no-margin no-border"></div>
    <div class="span4 no-margin no-border">
      <img class="img_cronix no-margin" src="<%= asset_path("cronix-cover-bright.jpg") %>" />
    </div>
    <div class="span4 no-margin no-border"></div>

    <div class="clear no-margin no-border">
      <div class="jumbotron">
        <h1>Cronix</h1>
          <p>Luis Oriente has been hiding out on Earth for centuries, living a simple life in the woods and trying to forget that he is the Missing Link between humans and the post-humans, those eternal beings who live in a man-made paradise safely anchored in the planet's orbit.</p>

          <p>But the sudden appearance of strange visions in the woods, then a cryptic message delivered by a huge wolf, draw him back into what remains of London, where the rump of humanity still lives side by side with a small population of the Eternals, who have returned either to breed or to manage Earthside affairs.</p>
          <br />
          <a class="btn btn-primary btn-lg" role="button">Free Chapters</a>
          <a class="btn btn-primary btn-lg" role="button">Download</a>
          <a class="btn btn-primary btn-lg" role="button">Buy</a>
      </div>
    </div>

  </body>
