
<div class="main">

    <body class="cronix">

        <div class="row-fluid bg_medium_dark">

            <div class="span12">

                <div class="span4"></div>

                <div class="span4">
                    <img class="img_cronix" src="https://s3.amazonaws.com/hiderwebsiteimages/cronix-cover-bright.jpg" />
                </div>

                <div class="span4"></div>

            </div>

        </div>

        <div class="row-fluid bg_medium_bright">

            <div class="span12">

                <div class="jumbotron">

                    <h1>Cronix</h1>

                    <p>Recreational suicide bombings are on the rise, revelers in fancy dress are throwing themselves from the heights of the Empire State Building in increasing numbers. When scientists break the final frontier of Death and find a way for the soul to live incarnate forever, humanity leaves Earth with a bang, bound for a man-made paradise. On the Orbiters, supercomputers riding beyond the edge of Earth's atmosphere, these Eternals live out their wildest dreams or build fantastic idylls, free at last from the tyranny of Evolution.</p>

                    <p>Back on Earth, however, the man known to history simply as the Missing Link, has been hiding out in the woods. Luis Oriente was the product of an experiment to capture and synthesize the human mind. In ultra human form, Oriente has spent centuries fleeing his past, living a quiet life away from prying eyes.</p>

                    <p>But when a giant wolf disrupts the rhythm of his forest to deliver a cryptic message, Oriente is dragged back into the turbulent currents of the history he has tried so hard to avoid. Something is broken in paradise, and Evolution is not quite done with humanity yet.</p>

                    <br />

                    <div class="trailer">
                        <p>
                            <span style="italics">Watch the Trailer</span>
                        </p>
                        <iframe src="//www.youtube.com/embed/s3eyTFXSL-E" width="500" height="300"></iframe>
                    </div>

                    <br />
                    <a class="btn btn-primary btn-lg book_buttons" role="button">Free Chapters</a>
                    <a class="btn btn-primary btn-lg book_buttons" role="button">Download</a>
                    <a class="btn btn-primary btn-lg book_buttons" role="button">Buy</a>

                </div>

            </div>

        </div>

    </body>

    <br /> <br /> <br />

    <body class="law">

        <div class="row-fluid bg_medium_dark">

            <div class="span12">

                <div class="span4"></div>

                <div class="span4">
                    <img class="img_cronix" src="https://s3.amazonaws.com/hiderwebsiteimages/Return.jpg" />
                </div>

                <div class="span4"></div>

            </div>

        </div>


        <div class="row-fluid bg_medium_bright">

            <div class="span12">

                <div class="jumbotron">

                    <h1>The Cronix Oracle</h1>

                    <p>Hundreds of years after the collapse of the Eternals' civilization on Earth, when a god-like creature emerged from the soul pools to which post-humanity had retired, a new, brutal civilization has formed, with no knowledge of what went before.<br />

                    <!-- It is ruled by the temperamental god Diyoos, spawned from the fusion of post-humanity's slumbering subconscious, whose priests ensure a feudal order and dispense righteous justice in his name, since he has become too bored with his subjects to intervene in worldly affairs. The god occasionally deigns to indulge in a little vicious interaction with his people, but his priests fear he has lost interest and is turning away from them, just as they face an invasion from a mysterious nation from the across western ocean, who are led by a ruthless tribe of women capable of shifting shape and stealing a person's soul.
 -->
                    When their god Diyoos appears to have died at the annual feast of Old Night, panic spreads and the High Priest Gorongosa fears he will have to explore the terrifying Book of Heresies to find the true nature of his deity. <!-- But he faces many challenges, from the psychotic Lord Ballodan, master of the Oracle and a true believer, from the strange shape-shifters invading the holy city of Glastonbury, and even from the Ancestor Angels, the divine beings who emerged from a sacred tomb to usher in the blessed End of Days, but who, Gorongosa begins to suspect, are not quite what they appear. --></p>

                    <br />

                    <a class="btn btn-primary btn-lg book_buttons" role="button">Free Chapters</a>
                    <a class="btn btn-primary btn-lg book_buttons" role="button">Mailing List</a>
                    <a class="btn btn-primary btn-lg book_buttons" role="button">Pre-Order</a>

                </div>

            </div>

        </div>

    </body>

</div>


