<h2>Guys, Get it FREE, here!</h2>

<div class="main">

    <div class="book">

        <div class="row-fluid">

            <div class="span4 freechapters_images">
                <div class="freechapters_img">
                    <img src="<%= asset_path("Hider.Cronix.Art.SMALL.jpg") %>" />
                </div>
            </div>

            <div class="span8">
                <h3>Cronix</h3>

                <br>

                <p>
                    <h4>Prologue</h4>
                </p>
                <p>
                    “Okay, we better be quick.”  The man was lean, with a horse face, and kept glancing at the entrance of the restaurant.<br>
                    It was an ugly place, just rough cement walls painted the dark burgundy of a Victorian whorehouse. No ornaments or decorations adorned the pocked masonry. Despite the disregard for aesthetic appeal, the joint was heaving, the clamor of drunken voices and blaring music thickening the air of anticipation.
                </p>
                <p>
                    “Why?”
                </p>
                <p>
                    “Because in about fifteen minutes some guy strapped with TNT is gonna walk through that door there and blow himself and everyone else in here to shit. And if you’re not chipped, you don’t wanna be here. Hell, I’m chipped and even I don’t want to be here.”
                </p>
                <p>
                    Oriente glanced nervously over his shoulder. All around, at tables set with bowls of pretzels and nuts and frothing pots of beer, people were laughing and talking excitedly. “A suicide bomber? That’s pretty retro. It’s been a while since the Islamic wars.”
                </p>
                <p>
                    “It’s all the rage with the young crowd these days,” said horse-face.
                </p>
                <p>
                    “How will you know it’s him?”
                </p>
                <p>
                    “Well, first of all the music changes. Suicide Blonde, by INXS. Then the waiters disappear. Look at ‘em now, rushing round like crazy to make sure everyone has a drink before the bomb comes in.”
                </p>
                <p>
                    “Okay, so let’s talk,” Oriente said. “How do I get past the vetting without a chip?”
                </p>
                <p>
                    <br>
                        
                    <a class="btn btn-primary btn-lg" role="button" id="rm_cronix">Read more</a>
                    <a class="btn btn-primary btn-lg" role="button" href="freechapters_cronix.pdf" target="_blank">Download</a>
                    <a class="btn btn-primary btn-lg" role="button" href="/buy">Buy</a>
                </p>
            </div>

        </div>
        
    </div>

    <hr />

    <div class="book">

        <div class="row-fluid freechapters">

            <div class="span4 freechapters_images">
                <div class="freechapters_img">
                    <img src="<%= asset_path("Hider.SoA.Art.SMALL.jpg") %>" />
                </div>
            </div>

            <div class="span8">
                <h3>The Spiders of Allah</h3>

                <br>

                <p>
                    <h4>Al-Qaeda Goes to Hollywood</h4>
                </p>
                <p>               
                    The two men are chained by the ankle to drainpipes in a squalid bathroom. Each wakes up with a 
                    Mickey Finn hangover to find he has a hacksaw at his side. Their faces are pale, full of fear and confusion. Between them is a corpse lying in a pool of blood, a pistol in one hand, a tape recorder in the other. A taped message tells one of them that if he cuts off his foot with saw, crawls to the pistol in the corpse’s hand and shoots his fellow cellmate, he and his family will be spared death. 
                </p>
                <p>
                    In an unappetizing hotel room in Baghdad, my makeshift home for the past two and a half years, a bootleg DVD is playing on the television. Saw is a gut-churning example of Hollywood psycho-horror, but there’s not much else to do in the evenings here, except drink, spout bullshit and watch endless pirate films from Asia, the start of each screening inevitably blurred by silhouettes of Thai cinema-goers slipping late into the theatre. Lying here on my bed, with the antediluvian air-conditioning unit clattering behind me, the question crosses my mind: how did al-Qaeda tap so directly into the Hollywood psyche? Because out there in the city, beyond the blast walls that protect me from the car bombs where human beings explode every morning, waking me before my alarm even has time to count down to eight o’clock, the terrorists are doing this to real people. I’ve seen the beheading videos, watched the hostages – Americans, Britons, Koreans, Lebanese, countless Iraqi soldiers and officials – forced to endure a similar hell. Told to beg to their governments for their lives, issuing demands on behalf of the masked 
                    psychos filming their terror, while all the time knowing, somewhere behind the desperate cooperation, they will never be allowed to go free. Knowing with instinctive certainty that once the orange jumpsuit is on, the slow knife hacking their throat is the only way out.
                </p>
                <p>
                    <br>
                        
                    <a class="btn btn-primary btn-lg" role="button" id="rm_SoA">Read more</a>
                    <a class="btn btn-primary btn-lg" role="button" href="Hider Website SOA-free chapter1.pdf" target="_blank">Download</a>
                    <a class="btn btn-primary btn-lg" role="button" href="/buy">Buy</a>
                </p>
            </div>

        </div>
        
    </div>

</div>
    