<h2>Free Chapters</h2>

<div class="main">

    <div class="book">
        <div class="row-fluid">

            <div class="span4">
                <div class="img_container">
                    <img src="<%= asset_path("book.png") %>" />
                </div>
            </div>

            <div class="span8">
                <h4>Cronix</h4>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet nibh ut ornare fringilla. Pellentesque sollicitudin tortor mi, ac posuere ligula tincidunt vitae. Cras at tincidunt tortor, ut laoreet erat. Vivamus eu hendrerit libero. Integer vehicula ut leo eu iaculis.
                </p>
                <p>
                Curabitur viverra est sem. Nulla facilisi. Integer ut lorem condimentum, bibendum quam id, gravida neque. Duis non lorem vel ex cursus gravida. Nullam ut accumsan enim. Suspendisse finibus, tellus ut consectetur congue, elit neque ullamcorper turpis, eget aliquet leo enim eget libero.
                </p>
                <p>
                    <table class="bookdata">
                        <tr>
                            <td><a href="/cronix">More</a></td>
                            <td><a href="MDN_Javascript.pdf" target="_blank">Download</a></td>
                            <td><a href="/buy">Buy</a></td>
                        </tr>
                    </table>
                </p>
            </div>

        </div>

        <div class="row-fluid">

            <div class="span7">
                <div class="bookpreview">
                    <textarea class="field span12" rows="20">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sagittis ac sapien ac iaculis. Proin consectetur consectetur turpis, fermentum dapibus magna ultricies vel. Sed ut massa eget lorem interdum mattis. Cras ac consequat metus. Sed pretium convallis aliquam. Suspendisse vulputate, felis vel gravida vulputate, ligula tellus consectetur ipsum, non egestas purus velit eu urna. Nam fermentum justo in ligula placerat, non sollicitudin enim varius. Proin placerat ornare eleifend. Mauris eu suscipit leo. Nam pulvinar interdum justo, vitae accumsan quam porttitor quis. In neque sapien, congue ut fermentum non, mollis at odio. Donec ut est sagittis, bibendum purus quis, malesuada magna.

    Nullam tincidunt vitae purus vel facilisis. Nunc egestas molestie lobortis. In euismod convallis consectetur. Duis elementum neque at nunc molestie condimentum. Ut quis felis eu augue rutrum posuere sit amet non augue. Vivamus vitae est nibh. Vestibulum non ante sed mi interdum tincidunt vitae non ante. Vestibulum dapibus erat id rhoncus gravida. Suspendisse commodo sodales lobortis. Donec vehicula massa magna, a venenatis leo ullamcorper ac.

    Sed id diam metus. Proin pulvinar lorem eu faucibus tincidunt. Sed augue massa, imperdiet at imperdiet non, sagittis id nibh. Vivamus sagittis blandit leo, sit amet mattis diam ultrices eu. Ut finibus orci tellus, ac pulvinar felis facilisis id. In a lacus id turpis luctus cursus. Integer tincidunt porttitor est, ac cursus erat maximus eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec ut urna maximus dolor egestas rutrum. Quisque sit amet nisi ligula. Sed id est massa. Aenean aliquet porttitor orci. Quisque tristique orci dui, sit amet vulputate nulla aliquet id. Nulla quis sodales nisl. Donec vel augue at magna porttitor faucibus vel sed enim. Sed vel massa metus.

    In nulla augue, interdum non enim et, tempus semper risus. Integer a arcu vel felis tincidunt sollicitudin. Nullam aliquam rutrum libero, accumsan eleifend eros sagittis id. Nullam bibendum dapibus velit vitae mattis. Pellentesque id rutrum mi. Aenean ac facilisis lacus. Pellentesque porttitor fringilla quam in lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec venenatis, tortor ut ultricies faucibus, eros lectus eleifend metus, nec porta dolor odio nec erat. Morbi euismod facilisis facilisis. Nam sed sapien pellentesque, egestas enim eu, finibus sapien. Vestibulum at nisi vitae massa efficitur gravida quis vel nisi. Nullam euismod nec orci et commodo. Donec id commodo leo. Ut ut lobortis justo, ut maximus tellus.

    Nunc varius rhoncus nisi quis venenatis. Mauris vulputate nisl risus, et feugiat metus consectetur id. Nulla interdum enim et viverra viverra. Fusce vehicula diam ac ante imperdiet, sed malesuada arcu dictum. Morbi euismod mauris sed dapibus sagittis. Ut at malesuada elit. Aliquam nec justo eget nibh tristique imperdiet. Etiam in tellus nec libero cursus lacinia.

    Nam scelerisque suscipit pharetra. Quisque pulvinar suscipit diam sed porta. Pellentesque id sagittis sem, iaculis tempor massa. Sed hendrerit bibendum enim, eu iaculis lectus tincidunt ac. Aliquam faucibus efficitur lectus, in pretium diam condimentum nec. Duis dignissim, quam et scelerisque lobortis, felis ipsum eleifend massa, sed gravida ante turpis gravida lacus. Nulla facilisi. Quisque est ipsum, viverra nec magna non, consequat cursus nunc. Mauris gravida congue neque, vel dictum turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. In mollis, arcu vitae venenatis dictum, felis lectus porta massa, eu finibus tortor turpis a sapien. Curabitur pharetra, sem non faucibus viverra, mauris dui egestas orci, in varius mauris nisi id arcu.

    Ut arcu orci, tempus nec felis vitae, egestas commodo justo. Aenean hendrerit dui sapien, eget semper velit molestie eget. Curabitur ac sem sed turpis laoreet pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque tempus lorem, sed pharetra ipsum aliquam sed. Vestibulum pharetra blandit tristique. Sed ac ultrices felis. Vivamus in facilisis elit. Etiam scelerisque nunc sed quam rutrum semper. Integer ut lectus ac lorem dictum aliquet. Aenean non urna turpis. Morbi non placerat nisl, vel pretium erat. Donec in risus eros.

    Curabitur pretium mi at metus scelerisque luctus quis at mi. Cras scelerisque, elit eget efficitur placerat, lectus velit dapibus ante, vel bibendum quam nisl at nunc. Donec nec ante ut felis ullamcorper commodo. Donec a ligula convallis, viverra odio non, volutpat felis. Mauris eu turpis non libero feugiat dictum ut quis eros. Sed varius felis ex, vitae ornare ante suscipit sit amet. Nunc mattis vestibulum eros, at sagittis velit elementum a. Duis sit amet quam tempus, vulputate dui sit amet, rutrum turpis. Vestibulum vehicula leo at semper tempus. Ut dapibus turpis quis felis sagittis, sed tincidunt purus posuere. Nam fringilla mi id felis auctor, eget ullamcorper lorem congue. Aliquam vel enim velit.

    Nunc iaculis arcu vitae vulputate tempus. Maecenas vitae faucibus felis, ac cursus massa. Cras lacinia orci ut eros imperdiet mattis. Nunc ut tellus feugiat, posuere metus sit amet, mattis risus. Nulla eget eros ac erat fermentum eleifend eget lobortis nunc. Vestibulum porttitor, quam et vehicula finibus, massa enim varius metus, non dignissim dolor velit nec risus. Suspendisse et nibh sed diam feugiat condimentum quis molestie justo. Aenean eget bibendum nibh, nec aliquam est. Suspendisse non lacus massa. Duis tristique odio nec tellus tempus sollicitudin. Pellentesque laoreet dui nunc, a cursus lorem ultrices eget. Maecenas risus dui, imperdiet sed ante et, consequat tristique urna. Duis condimentum, velit vel aliquet luctus, libero ligula finibus ante, eu sagittis urna justo sed tellus. Aliquam et porta ante, in faucibus nisi. Vivamus nisi diam, tincidunt congue iaculis ut, tincidunt aliquet sapien.

    Sed sit amet fringilla dolor. Curabitur non posuere ex, in porttitor sapien. Quisque dolor est, pharetra rhoncus urna fermentum, lobortis ornare nisi. Sed malesuada lorem non nulla tincidunt, sodales rhoncus ipsum bibendum. Nullam accumsan in quam id aliquet. Praesent ac rutrum erat. Donec mollis dui aliquam elit faucibus imperdiet. In efficitur arcu vitae nisi pulvinar placerat. Nulla eget velit non justo iaculis sagittis. Maecenas tempor tellus at ex venenatis facilisis. Nullam pellentesque suscipit lectus, nec cursus orci sollicitudin sed.

    Praesent turpis felis, commodo eget ipsum sed, scelerisque dapibus ligula. Aenean nec tempor libero, ut iaculis odio. Sed interdum purus at augue finibus mattis. Mauris dignissim ac elit sed bibendum. Nam quis sem at elit rutrum auctor a ut massa. Donec at eleifend orci. Nullam justo orci, tincidunt at faucibus eu, laoreet eu lectus. Aliquam congue, dolor ac euismod eleifend, ante dolor ullamcorper urna, eu sollicitudin diam felis vitae massa. Donec tincidunt sed justo egestas congue. Donec faucibus augue pellentesque velit hendrerit, eget finibus nulla suscipit.

    Praesent molestie augue vel aliquet tempor. Sed vel mi ac mauris malesuada gravida. Aenean mattis lacinia nunc et viverra. Nam in ipsum in nulla fermentum luctus non quis nisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer rhoncus est id pretium efficitur. Morbi euismod urna quis finibus maximus. Suspendisse venenatis leo sit amet aliquam finibus. In a magna rhoncus, eleifend orci varius, porta orci. Donec dictum dignissim tortor quis lobortis. Morbi interdum eu magna sit amet aliquet.

    In tempus, felis sed scelerisque euismod, nisi tellus sollicitudin metus, eget elementum dui nulla semper enim. Fusce imperdiet libero elit, vel efficitur tellus vulputate a. Sed tempor pharetra congue. Suspendisse mollis neque nisi, a auctor enim euismod nec. Morbi posuere dignissim bibendum. Aliquam varius, velit quis sollicitudin ultricies, diam purus eleifend odio, sit amet malesuada felis risus eget magna. Fusce mollis felis id lectus iaculis, sed venenatis metus volutpat.

    In id bibendum lorem. Duis fringilla est vitae ante tincidunt commodo. Suspendisse condimentum tortor viverra orci gravida lobortis. Ut lectus ipsum, pretium eu lorem non, pharetra laoreet erat. In lobortis augue est, quis pharetra felis facilisis nec. Nulla rutrum vehicula ligula malesuada suscipit. Etiam eleifend malesuada cursus. Sed ultricies enim ut justo vestibulum, at faucibus mauris feugiat. Donec imperdiet, sem id hendrerit scelerisque, lorem turpis aliquet erat, vel scelerisque eros sem fringilla nulla.
              </textarea>
                </div>
            </div>

            <div class="span5">
                <h3>span5</h3>
            </div>

        </div>
    </div>

    <hr />

    <div class="book">
        <div class="row-fluid">

            <div class="span4">
                <div class="img_container">
                    <img src="<%= asset_path("book.png") %>" />
                </div>
            </div>

            <div class="span8">
                <h4>Spiders of Allah</h4>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet nibh ut ornare fringilla. Pellentesque sollicitudin tortor mi, ac posuere ligula tincidunt vitae. Cras at tincidunt tortor, ut laoreet erat. Vivamus eu hendrerit libero. Integer vehicula ut leo eu iaculis.
                </p>
                <p>
                Curabitur viverra est sem. Nulla facilisi. Integer ut lorem condimentum, bibendum quam id, gravida neque. Duis non lorem vel ex cursus gravida. Nullam ut accumsan enim. Suspendisse finibus, tellus ut consectetur congue, elit neque ullamcorper turpis, eget aliquet leo enim eget libero.
                </p>
                <p>
                    <table class="bookdata">
                        <tr>
                            <td><a href="/spiders_of_allah">More</a></td>
                            <td><a href="MDN_Javascript.pdf" target="_blank">Download</a></td>
                            <td><a href="/buy">Buy</a></td>
                        </tr>
                    </table>
                </p>
            </div>

        </div>

        <div class="row-fluid">

            <div class="span7">
                <div class="bookpreview">
                    <textarea class="field span12" rows="20">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sagittis ac sapien ac iaculis. Proin consectetur consectetur turpis, fermentum dapibus magna ultricies vel. Sed ut massa eget lorem interdum mattis. Cras ac consequat metus. Sed pretium convallis aliquam. Suspendisse vulputate, felis vel gravida vulputate, ligula tellus consectetur ipsum, non egestas purus velit eu urna. Nam fermentum justo in ligula placerat, non sollicitudin enim varius. Proin placerat ornare eleifend. Mauris eu suscipit leo. Nam pulvinar interdum justo, vitae accumsan quam porttitor quis. In neque sapien, congue ut fermentum non, mollis at odio. Donec ut est sagittis, bibendum purus quis, malesuada magna.

    Nullam tincidunt vitae purus vel facilisis. Nunc egestas molestie lobortis. In euismod convallis consectetur. Duis elementum neque at nunc molestie condimentum. Ut quis felis eu augue rutrum posuere sit amet non augue. Vivamus vitae est nibh. Vestibulum non ante sed mi interdum tincidunt vitae non ante. Vestibulum dapibus erat id rhoncus gravida. Suspendisse commodo sodales lobortis. Donec vehicula massa magna, a venenatis leo ullamcorper ac.

    Sed id diam metus. Proin pulvinar lorem eu faucibus tincidunt. Sed augue massa, imperdiet at imperdiet non, sagittis id nibh. Vivamus sagittis blandit leo, sit amet mattis diam ultrices eu. Ut finibus orci tellus, ac pulvinar felis facilisis id. In a lacus id turpis luctus cursus. Integer tincidunt porttitor est, ac cursus erat maximus eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec ut urna maximus dolor egestas rutrum. Quisque sit amet nisi ligula. Sed id est massa. Aenean aliquet porttitor orci. Quisque tristique orci dui, sit amet vulputate nulla aliquet id. Nulla quis sodales nisl. Donec vel augue at magna porttitor faucibus vel sed enim. Sed vel massa metus.

    In nulla augue, interdum non enim et, tempus semper risus. Integer a arcu vel felis tincidunt sollicitudin. Nullam aliquam rutrum libero, accumsan eleifend eros sagittis id. Nullam bibendum dapibus velit vitae mattis. Pellentesque id rutrum mi. Aenean ac facilisis lacus. Pellentesque porttitor fringilla quam in lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec venenatis, tortor ut ultricies faucibus, eros lectus eleifend metus, nec porta dolor odio nec erat. Morbi euismod facilisis facilisis. Nam sed sapien pellentesque, egestas enim eu, finibus sapien. Vestibulum at nisi vitae massa efficitur gravida quis vel nisi. Nullam euismod nec orci et commodo. Donec id commodo leo. Ut ut lobortis justo, ut maximus tellus.

    Nunc varius rhoncus nisi quis venenatis. Mauris vulputate nisl risus, et feugiat metus consectetur id. Nulla interdum enim et viverra viverra. Fusce vehicula diam ac ante imperdiet, sed malesuada arcu dictum. Morbi euismod mauris sed dapibus sagittis. Ut at malesuada elit. Aliquam nec justo eget nibh tristique imperdiet. Etiam in tellus nec libero cursus lacinia.

    Nam scelerisque suscipit pharetra. Quisque pulvinar suscipit diam sed porta. Pellentesque id sagittis sem, iaculis tempor massa. Sed hendrerit bibendum enim, eu iaculis lectus tincidunt ac. Aliquam faucibus efficitur lectus, in pretium diam condimentum nec. Duis dignissim, quam et scelerisque lobortis, felis ipsum eleifend massa, sed gravida ante turpis gravida lacus. Nulla facilisi. Quisque est ipsum, viverra nec magna non, consequat cursus nunc. Mauris gravida congue neque, vel dictum turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. In mollis, arcu vitae venenatis dictum, felis lectus porta massa, eu finibus tortor turpis a sapien. Curabitur pharetra, sem non faucibus viverra, mauris dui egestas orci, in varius mauris nisi id arcu.

    Ut arcu orci, tempus nec felis vitae, egestas commodo justo. Aenean hendrerit dui sapien, eget semper velit molestie eget. Curabitur ac sem sed turpis laoreet pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque tempus lorem, sed pharetra ipsum aliquam sed. Vestibulum pharetra blandit tristique. Sed ac ultrices felis. Vivamus in facilisis elit. Etiam scelerisque nunc sed quam rutrum semper. Integer ut lectus ac lorem dictum aliquet. Aenean non urna turpis. Morbi non placerat nisl, vel pretium erat. Donec in risus eros.

    Curabitur pretium mi at metus scelerisque luctus quis at mi. Cras scelerisque, elit eget efficitur placerat, lectus velit dapibus ante, vel bibendum quam nisl at nunc. Donec nec ante ut felis ullamcorper commodo. Donec a ligula convallis, viverra odio non, volutpat felis. Mauris eu turpis non libero feugiat dictum ut quis eros. Sed varius felis ex, vitae ornare ante suscipit sit amet. Nunc mattis vestibulum eros, at sagittis velit elementum a. Duis sit amet quam tempus, vulputate dui sit amet, rutrum turpis. Vestibulum vehicula leo at semper tempus. Ut dapibus turpis quis felis sagittis, sed tincidunt purus posuere. Nam fringilla mi id felis auctor, eget ullamcorper lorem congue. Aliquam vel enim velit.

    Nunc iaculis arcu vitae vulputate tempus. Maecenas vitae faucibus felis, ac cursus massa. Cras lacinia orci ut eros imperdiet mattis. Nunc ut tellus feugiat, posuere metus sit amet, mattis risus. Nulla eget eros ac erat fermentum eleifend eget lobortis nunc. Vestibulum porttitor, quam et vehicula finibus, massa enim varius metus, non dignissim dolor velit nec risus. Suspendisse et nibh sed diam feugiat condimentum quis molestie justo. Aenean eget bibendum nibh, nec aliquam est. Suspendisse non lacus massa. Duis tristique odio nec tellus tempus sollicitudin. Pellentesque laoreet dui nunc, a cursus lorem ultrices eget. Maecenas risus dui, imperdiet sed ante et, consequat tristique urna. Duis condimentum, velit vel aliquet luctus, libero ligula finibus ante, eu sagittis urna justo sed tellus. Aliquam et porta ante, in faucibus nisi. Vivamus nisi diam, tincidunt congue iaculis ut, tincidunt aliquet sapien.

    Sed sit amet fringilla dolor. Curabitur non posuere ex, in porttitor sapien. Quisque dolor est, pharetra rhoncus urna fermentum, lobortis ornare nisi. Sed malesuada lorem non nulla tincidunt, sodales rhoncus ipsum bibendum. Nullam accumsan in quam id aliquet. Praesent ac rutrum erat. Donec mollis dui aliquam elit faucibus imperdiet. In efficitur arcu vitae nisi pulvinar placerat. Nulla eget velit non justo iaculis sagittis. Maecenas tempor tellus at ex venenatis facilisis. Nullam pellentesque suscipit lectus, nec cursus orci sollicitudin sed.

    Praesent turpis felis, commodo eget ipsum sed, scelerisque dapibus ligula. Aenean nec tempor libero, ut iaculis odio. Sed interdum purus at augue finibus mattis. Mauris dignissim ac elit sed bibendum. Nam quis sem at elit rutrum auctor a ut massa. Donec at eleifend orci. Nullam justo orci, tincidunt at faucibus eu, laoreet eu lectus. Aliquam congue, dolor ac euismod eleifend, ante dolor ullamcorper urna, eu sollicitudin diam felis vitae massa. Donec tincidunt sed justo egestas congue. Donec faucibus augue pellentesque velit hendrerit, eget finibus nulla suscipit.

    Praesent molestie augue vel aliquet tempor. Sed vel mi ac mauris malesuada gravida. Aenean mattis lacinia nunc et viverra. Nam in ipsum in nulla fermentum luctus non quis nisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer rhoncus est id pretium efficitur. Morbi euismod urna quis finibus maximus. Suspendisse venenatis leo sit amet aliquam finibus. In a magna rhoncus, eleifend orci varius, porta orci. Donec dictum dignissim tortor quis lobortis. Morbi interdum eu magna sit amet aliquet.

    In tempus, felis sed scelerisque euismod, nisi tellus sollicitudin metus, eget elementum dui nulla semper enim. Fusce imperdiet libero elit, vel efficitur tellus vulputate a. Sed tempor pharetra congue. Suspendisse mollis neque nisi, a auctor enim euismod nec. Morbi posuere dignissim bibendum. Aliquam varius, velit quis sollicitudin ultricies, diam purus eleifend odio, sit amet malesuada felis risus eget magna. Fusce mollis felis id lectus iaculis, sed venenatis metus volutpat.

    In id bibendum lorem. Duis fringilla est vitae ante tincidunt commodo. Suspendisse condimentum tortor viverra orci gravida lobortis. Ut lectus ipsum, pretium eu lorem non, pharetra laoreet erat. In lobortis augue est, quis pharetra felis facilisis nec. Nulla rutrum vehicula ligula malesuada suscipit. Etiam eleifend malesuada cursus. Sed ultricies enim ut justo vestibulum, at faucibus mauris feugiat. Donec imperdiet, sem id hendrerit scelerisque, lorem turpis aliquet erat, vel scelerisque eros sem fringilla nulla.

    Ut dictum sagittis risus nec luctus. Nunc porttitor eget nulla non consequat. Quisque lacinia venenatis eros et ullamcorper. Aenean fringilla nisi felis, ut fringilla purus lobortis in. Suspendisse sagittis, metus sit amet sollicitudin mollis, arcu diam volutpat tortor, at cursus ante ex in ex. Donec fringilla, metus et molestie volutpat, lorem ex molestie magna, eget porttitor augue sem at sem. Proin vel convallis nisi. Ut eget eleifend libero. Maecenas et elit et augue mollis feugiat ac eget libero. Aenean vulputate commodo nisl quis dapibus.
                    </textarea>
                </div>
            </div>

            <div class="span5">
                <h3>span5</h3>
            </div>

        </div>
    </div>

    <hr />

    <div class="book">
    </div>

</div>
