<h2>Guys, Get it FREE, here!</h2>

<!-- <div class="main"> -->

    <div class="book">

        <div class="row-fluid freechapters">

            <div class="span4 freechapters_images">
                <div class="no-border freechapters_img">
                    <img class="no-border" src="<%= asset_path("Hider.Cronix.Art.SMALL.jpg") %>" />
                </div>
            </div>

            <div class="span8 no-border">
                <h3>Cronix</h3>

                <br>

                <p>
                    <h4>Prologue</h4>
                </p>
                <p>
                    “Okay, we better be quick.”  The man was lean, with a horse face, and kept glancing at the entrance of the restaurant.<br>
                    It was an ugly place, just rough cement walls painted the dark burgundy of a Victorian whorehouse. No ornaments or decorations adorned the pocked masonry. Despite the disregard for aesthetic appeal, the joint was heaving, the clamor of drunken voices and blaring music thickening the air of anticipation.
                </p>
                <p>
                    “Why?”
                </p>
                <p>
                    “Because in about fifteen minutes some guy strapped with TNT is gonna walk through that door there and blow himself and everyone else in here to shit. And if you’re not chipped, you don’t wanna be here. Hell, I’m chipped and even I don’t want to be here.”
                </p>
                <p>
                    Oriente glanced nervously over his shoulder. All around, at tables set with bowls of pretzels and nuts and frothing pots of beer, people were laughing and talking excitedly. “A suicide bomber? That’s pretty retro. It’s been a while since the Islamic wars.”
                </p>
                <p>
                    “It’s all the rage with the young crowd these days,” said horse-face.
                </p>
                <p>
                    “How will you know it’s him?”
                </p>
                <p>
                    “Well, first of all the music changes. Suicide Blonde, by INXS. Then the waiters disappear. Look at ‘em now, rushing round like crazy to make sure everyone has a drink before the bomb comes in.”
                </p>
                <p>
                    “Okay, so let’s talk,” Oriente said. “How do I get past the vetting without a chip?”
                </p>
                <p>
                    <br>
                        
                    <a class="btn btn-primary btn-lg" role="button" id="rm_cronix">Read more</a>
                    <a class="btn btn-primary btn-lg" role="button" href="freechapters_cronix.pdf" target="_blank">Download</a>
                    <a class="btn btn-primary btn-lg" role="button" href="/buy">Buy</a>
                </p>
            </div>

        </div>
        
    </div>

    <hr />

    <div class="book">

        <div class="row-fluid freechapters">

            <div class="span4 freechapters_images">
                <div class="no-border freechapters_img">
                    <img class="no-border" src="<%= asset_path("Hider.SoA.Art.SMALL.jpg") %>" />
                </div>
            </div>

            <div class="span8 no-border">
                <h3>The Spiders of Allah</h3>

                <br>

                <p>
                    <h4>Prologue</h4>
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet nibh ut ornare fringilla. Pellentesque sollicitudin tortor mi, ac posuere ligula tincidunt vitae. Cras at tincidunt tortor, ut laoreet erat. Vivamus eu hendrerit libero. Integer vehicula ut leo eu iaculis.
                </p>
                <p>
                    Curabitur viverra est sem. Nulla facilisi. Integer ut lorem condimentum, bibendum quam id, gravida neque. Duis non lorem vel ex cursus gravida. Nullam ut accumsan enim. Suspendisse finibus, tellus ut consectetur congue, elit neque ullamcorper turpis, eget aliquet leo enim eget libero.
                </p>
                <p>
                    <br>
                        
                    <a class="btn btn-primary btn-lg" role="button" id="rm_SoA">Read more</a>
                    <a class="btn btn-primary btn-lg" role="button" href="freechapters_SoA.pdf" target="_blank">Download</a>
                    <a class="btn btn-primary btn-lg" role="button" href="/buy">Buy</a>
                </p>
            </div>

        </div>
        
    </div>

    