<!-- <h2>Welcome to James Hider's Website</h2> -->

<div class="main">

    <div class="row-fluid">

        <div class="span5">
            <!-- <h3>The Author</h3> -->
            <div>
                <img class="img_medium_home" src="<%= asset_path("jh.jpg") %>" />
            </div>
            <!-- <h5>Short Bio</h5> -->
            <div class="credit">
                photo copyright © Gali Tibbon
            </div>
            <div class="bio">
                <p>
                JAMES HIDER is the Latin America Correspondent for <span style="italics">The Times</span> of London, based in Brasil. He is the former Middle East Bureau Chief for the paper and spent more than a decade reporting from the region on its long and bloody conflicts.
                </p>
                <p>
                His first book, <a href="/spiders_of_allah">'The Spiders of Allah'</a> was a critically praised memoir of those years. His Science Fiction debut, <a href="cronix">'Cronix'</a> is the first in a planned trilogy. <a href="/the_law_of_return">'The Law of Return'</a> will be published shortly. <a href="/about">more...</a>
                </p>
            </div>
        </div>
        <div class="span7">
            <div class="title">
                <h3>OUT NOW!</h3>
            </div>
            <div class="intro">
                    <p>
                    CRONIX. The first in a new trilogy.
                    </p>
                    <p>
                    Luis Oriente has been hiding out on Earth for centuries, living a simple life in the woods and trying to forget that he is the Missing Link between humans and the post-humans, those eternal beings who live in a man-made paradise safely anchored in the planet's orbit.
                    </p>
                <div id="jkt">
                    <img src="<%= asset_path("cronix-cover-bright.jpg") %>" />
                </div>
            </div>
        </div>

    </div>

</div>

