<!-- <h2>Welcome to James Hider's Website</h2> -->

<!-- <div class="main"> -->

<!-- <div class="row-fluid"> -->

    <div class="span5 no-border">
        <!-- <h3>The Author</h3> -->
        <div>
            <img class="img_medium_home" src="<%= asset_path("jh.jpg") %>" />
        </div>
        <!-- <h5>Short Bio</h5> -->
        <div class="credit">
            photo copyright © Gali Tibbon
        </div>
            <div class="bio">
                <p>
                JAMES HIDER is the Latin America Correspondent for <span style="italics">The Times</span> of London, based in Brasil. He is the former Middle East Bureau Chief for the paper and spent more than a decade reporting from the region on its long and bloody conflicts.
                </p>
                <p>
                His first book, <a href="/spiders_of_allah">'The Spiders of Allah'</a> was a critically praised memoir of those years. His Science Fiction debut, <a href="cronix">'Cronix'</a> is the first in a planned trilogy. <a href="/the_law_of_return">'The Law of Return'</a> will be published shortly. <a href="/about">more...</a>
                </p>
            </div>
    </div>
    <div class="span7 no-border">
        <div class="title">
            <h3>OUT NOW!</h3>
        </div>
        <div class="intro">
                <p>
                CRONIX. The first in a new trilogy.
                </p>
                <p>
                Luis Oriente has been hiding out on Earth for centuries, living a simple life in the woods and trying to forget that he is the Missing Link between humans and the post-humans, those eternal beings who live in a man-made paradise safely anchored in the planet's orbit.
                </p>
            <div id="jkt">
                <img src="<%= asset_path("Hider.Cronix.Art.SMALL.jpg") %>" />
            </div>
        </div>
    </div>

<!-- </div> -->

<!-- <div class="row-fluid">

    <div class="span6">
        <h3>span6</h3>
    </div>
    <div class="span6">
        <h3>span6</h3>
    </div>

</div>

<div class="row-fluid">

    <div class="span3">
        <h3>span3</h3>
    </div>
    <div class="span4">
        <h3>span4</h3>
    </div>
    <div class="span5">
        <h3>span5</h3>
    </div>

</div>

<div class="row-fluid">

    <div class="span1">
        <h3>span1</h3>
    </div>

    <div class="span2">
        <h3>span2</h3>
    </div>

    <div class="span3">
        <h3>span3</h3>
    </div>

    <div class="span4">
        <h3>span4</h3>
    </div>

    <div class="span2">
        <h3>span2</h3>
    </div>

</div>

<div class="row-fluid">

    <div class="span12">
        <h3>span12</h3>
    </div>

</div> -->
<!-- <div class ="span10">
    <div>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet nibh ut ornare fringilla. Pellentesque sollicitudin tortor mi, ac posuere ligula tincidunt vitae. Cras at tincidunt tortor, ut laoreet erat. Vivamus eu hendrerit libero. Integer vehicula ut leo eu iaculis. Curabitur viverra est sem. Nulla facilisi. Integer ut lorem condimentum, bibendum quam id, gravida neque. Duis non lorem vel ex cursus gravida. Nullam ut accumsan enim. Suspendisse finibus, tellus ut consectetur congue, elit neque ullamcorper turpis, eget aliquet leo enim eget libero. Integer nec dolor sem. Maecenas fringilla ex sed neque varius pulvinar.
        </p>
        <p>
        Sed feugiat orci sed scelerisque consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus commodo id risus vulputate aliquam. Praesent pulvinar consectetur nibh, vitae porta est eleifend in. Nunc mauris orci, interdum accumsan metus ut, porta congue ante. Fusce sed feugiat neque. Quisque blandit mollis finibus. In libero urna, pharetra non elit mattis, lobortis feugiat quam. Nam non tellus leo. Cras magna dui, vestibulum eu felis quis, maximus tempor massa. Fusce eleifend ultrices urna, ut lacinia felis vestibulum in. Proin ipsum dolor, molestie et nunc sed, pharetra aliquam leo. Aliquam luctus tortor eu dapibus elementum. Sed viverra dui eget vestibulum posuere. Nam tempus gravida tincidunt.
        </p>
        <p>
        Integer mollis turpis sit amet viverra pharetra. Fusce tincidunt turpis in lectus congue placerat. Mauris suscipit sollicitudin cursus. Nam quis commodo tortor. Sed vehicula scelerisque venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam non luctus arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur consectetur quis purus ornare viverra. Maecenas nisl massa, ultricies eu magna id, rhoncus lacinia mauris. Duis risus lorem, euismod sed scelerisque in, commodo et urna.
        </p>
    </div>
</div> -->

<!-- </div> -->

