
<div class="main bg_dark">
    <div class="row-fluid">

        <div class="span5 bg_bright">

            <div>
                <a href="/about">
                    <img class="img_medium_home" src="https://s3.amazonaws.com/hiderwebsiteimages/jh.jpg" />
                </a>
            </div>

            <div class="credit">
                &copy; Gali Tibbon
            </div>

            <div class="bio">
                <p>
                <strong>JAMES HIDER</strong> is the South America Correspondent for <span style="italics">The Times</span> of London, based in Brazil. He is the former Middle East Bureau Chief for the paper and spent more than a decade reporting from the region on its long and violent conflicts.
                </p>
                <p>
                His first book, <a href="/nonfiction">'The Spiders of Allah'</a> was a critically praised memoir of those years. It won a BOOKLIST Editors' Choice Award and was voted one of MOTHER JONES <a href="http://www.motherjones.com/media/2009/12/mojos-top-books-2009" target="_blank">Top Books of The Year.</a></p>
                <p>His Science Fiction debut, <a href="/fiction">'Cronix'</a> is the first in a planned trilogy.<br /><br />The next installment, <a href="/fiction">'The Cronix Oracle'</a>, will be published shortly.<br /><br />Read <a href="/about">more...</a>
                </p>
            </div>

        </div>

        <!-- <div class="span12 bg_dark">
            <div class="span1">
                <p>Most of us think of Immortality as a blissful state...</p>
            </div>
        </div> -->

        <div class="span7 bg_dark">

            <div class="span12">

                <div class="span2"></div>
                <div class="span8">

                    <div class="title">
                        <!-- <div id="title"> -->
                        <h3>OUT NOW!</h3>
                        <!-- </div> -->
                    </div>

                    <div id="intro">
                        <!-- CRONIX <br /> -->
                        The First In A New Trilogy
                    </div>

                    <div class="cronixquote">
                            <p>
                                "Downright 'Gibsonian'"<!-- ...Most of us think about immortality as a blissful state. 'Cronix' relieves of us this fallacy right quick, and provides an astonishingly fun ride." -->
                            </p>
                    <div class ="quotesource">
                        <span class="pull-right">
                            Jeremy Bailenson, Author of 'Infinite Reality'
                        </span>
                    </div>

                    </div>

                    <div id="jkt">

                    <a href="/freechapters">
                        <img src="https://s3.amazonaws.com/hiderwebsiteimages/cronix-cover-bright.jpg" />
                    </a>
                    </div>

                </div>
                <div class="span2"></div>

            </div>

            <div class="span12">

                     <div id="text">
                        <p>
                            Most of us think of Immortality as a blissful state...<br /><br />
                        <!-- Luis Oriente has been hiding out on Earth for centuries, living a simple life in the woods and trying to forget that he is the Missing Link between humans and the post-humans, those eternal beings who live in a man-made paradise safely anchored in the planet's orbit. -->
                        The man known to history simply as 'The Missing Link', has been hiding out in the woods. Luis Oriente was the product of an experiment to capture and synthesize the human mind. In ultra human form, he has spent centuries fleeing his past, living a quiet life away from <a href="/fiction"/>prying eyes...</a></p>
                    </div>
            </div>

        </div>

    </div>

</div>

