
<div class="main bg_dark">
    <div class="row-fluid">

        <div class="span5 bg_bright">

            <div>
                <img class="img_medium_home" src="https://s3.amazonaws.com/hiderwebsiteimages/jh.jpg" />
            </div>

            <div class="credit">
                photo copyright &copy; Gali Tibbon
            </div>

            <div class="bio">
                <p>
                <strong>JAMES HIDER</strong> is the South America Correspondent for <span style="italics">The Times</span> of London, based in Brasil. He is the former Middle East Bureau Chief for the paper and spent more than a decade reporting from the region on its long and bloody conflicts.
                </p>
                <p>
                His first book, <a href="/non-fiction">'The Spiders of Allah'</a> was a critically praised memoir of those years. His Science Fiction debut, <a href="/fiction">'Cronix'</a> is the first in a planned trilogy. <a href="/fiction">'The Cronix Oracle'</a>will be published shortly. <a href="/about">More...</a>
                </p>
            </div>
        </div>

        <div class="span7 bg_dark">
            
            <div class="span12">

                <div class="span2"></div>
                <div class="span8">    

                    <div class="title">
                        <!-- <div id="title"> -->
                        <h3>OUT NOW!</h3>
                        <!-- </div> -->
                    </div> 

                    <div id="intro">
                        CRONIX <br />
                        The First In A New Trilogy
                    </div>

                    <div id="jkt">
                        <img src="https://s3.amazonaws.com/hiderwebsiteimages/cronix-cover-bright.jpg" />
                    </div>

                </div>
                <div class="span2"></div>

            </div>
            <div class="span12">

                     <div id="text">
                        <p>
                        <!-- Luis Oriente has been hiding out on Earth for centuries, living a simple life in the woods and trying to forget that he is the Missing Link between humans and the post-humans, those eternal beings who live in a man-made paradise safely anchored in the planet's orbit. -->
                        The man known to history simply as the Missing Link, has been hiding out in the woods. Luis Oriente was the product of an experiment to capture and synthesize the human mind. In ultra human form, he has spent centuries fleeing his past, living a quiet life away from prying eyes...</p>
                    </div>
            </div>
        
        </div>

    </div>

</div>

