<h2>Welcome to James Hider's Website</h2>

<div class="row">

    <div class="span1">
        <h2>span1</h2>
    </div>

    <div class="span2">
        <h2>span2</h2>
    </div>

    <div class="span3">
        <h2>span3</h2>
    </div>

    <div class="span4">
        <h2>span4</h2>
    </div>

    <div class="span6">
        <h2>span6</h2>
    </div>

    <div class="span6">
        <h2>span6</h2>
    </div>

    <div class="span12">
        <h2>span12</h2>
    </div>

</div>