
<div class="main">

    <body class="spiders">

        <div class="row-fluid bg_medium_dark">

            <div class="span12">

                <div class="span4"></div>

                <div class="span4">
                    <a href="http://www.amazon.com/Spiders-Allah-Travels-Unbeliever-Frontline-ebook/dp/B004WPGGF2/ref=tmm_kin_swatch_0?_encoding=UTF8&sr=1-1&qid=1413845678">
                        <img class="img_spiders" src="https://s3.amazonaws.com/hiderwebsiteimages/Hider.SoA.Art.SMALL.jpg" />
                    </a>
                </div>

                <div class="span4"></div>

            </div>

        </div>

        <div class="row-fluid bg_medium_bright">

            <div class="span12">

                <div class="jumbotron">

                    <h1>The Spiders of Allah</h1>

                    <!-- <p>
                        <a href="/freechapters">'Dope here is crap. No wonder everyone is so fucking tense'"</a>
                    </p> -->
                    <div class="covertitle">
                        <p><strong><a href="http://www.amazon.com/Spiders-Allah-Travels-Unbeliever-Frontline-ebook/dp/B004WPGGF2/ref=tmm_kin_swatch_0?_encoding=UTF8&sr=1-1&qid=1413845678">From The US Jacket Copy</a></strong></p>
                    </div>
                    <div class="covercopy">
                        <p>
                            <strong>"In his fascinating, terrifying and often very funny book, James Hider takes his doubts about religion straight in to the dark heart of the world's holy wars--from Israel to Iraq.<br /><br />From Shi-ite death squads roaming the lawless post-Saddam streets to hardcore Israeli settlers condoning "tactical strkes" to clear the way for new homes, to a U.S. marine torturing prisoners in God's name, no one escapes Hider's razor-sharp look at the malign influence of fanatical fundamentalism. As he meets terrorists, suicide bombers, soldiers, ayatollahs, ordinary and extraordinary people alike, the question that sparked his journey continues to plague his thoughts: if all these people are so religious, why do they spend so much time and energy trying to kill one another? With straight to the jugular writing in the tradition of Hunter S. Thompson, this extraordinary and timely book casts an unflinching eye on the very worst and most violent crimes committed in the name of belief and asks the hard questions that need answering for survival."</strong>
                        </p>
                    </div>
                    <br />
                    <br />

                    <div class ="reviewstitle">
                        <h3>Reviews</h3>
                    </div>

                    <div class ="reviewsspiders">
                        <p>"As the cyberpunk author William Gibson once said, ‘the future is already here, it’s just unevenly distributed.’ The past, on the other hand, writes Times Middle East bureau chief James Hider, ‘seems to be mostly squeezed into a narrow belt of hot lands between the eastern coast of the Mediterranean and the mountains of the Hindu Kush.’ <!-- ...It’s hard to find a lens panoramic enough to survey conflicts like these which have raged for hundreds of years. Hider’s macho, secular, vivid depictions of Gaza, Fallujah and Basra offer one snapshot.  -->You can practically smell the corpses in his description of the Hobbesian state of lawlessness that prevailed after the British-American invasion of Iraq....<!-- But this sort of informed but subjective account of the front lines of conflict in the Middle East is  -->not simply rubbernecking, it’s required reading."
                            <div class="magazine">
                                <strong>TIME OUT</strong></p><br />
                            </div>

                        <p>"After sojourns in the Holy Land, writers as diverse as Mark Twain and Allen Ginsberg have come away with the notion that, regardless of any outsider’s road map, peace in the Middle East will be achieved…when pigs fly.

                        Enter James Hider, an intrepid war correspondent for the Times of London, who sometimes dyes his gingery eyebrows black to better blend in with the Arab Street. His prolific and authoritative coverage of conflict in Fallujah, Baghdad, Israel, the West Bank and Gaza...has been essential reading for years. Now, in his first book...Hider unleashes his dark humor and angry wit in a troll through the atrocities that result when religious fanaticism and ignorance are given unlimited fire power."
                            <div class="magazine">
                                <strong>HUFFINGTON POST</strong></p><br />
                            </div>

                        <p>"It's a bloody miracle James Hider isn't dead...This romp through the cradle of civilization—think Hunter S. Thompson meets Christopher Hitchens—takes Hider from suicide bombers’ lairs and hardcore Zionist settlements to a mosque in Mosul, where a 7-foot-tall Sufi sheikh insists the British reporter impale himself with a metal skewer."
                            <div class="magazine">
                                <strong>MOTHER JONES</strong></p><br />
                            </div>

                        <p>"Readers will marvel at the mix of resolve, purpose and just plain lust for adventure that made Hider return to the hellish carnage and turmoil...Horrifying true tales, intelligently told."
                            <div class="magazine">
                                <strong>KIRKUS</strong></p><br />
                            </div>

                        <p>"If you want to know what has really been going on in the Gaza Strip and particularly in Iraq for the past few years — indeed, for the past few 1,000 — this is the book for you. It is also rivetingly absorbing, a page-turner, written with the best of journalistic qualities (snappy, darkly witty and ironic, ruthlessly candid and highly observant). And it is stomach-churning, full of horrors which, even more frighteningly, are shown to be “everyday” in that part of the world."
                            <div class="magazine">
                                <strong>THE WITNESS, SA</strong></p><br />
                            </div>

                        <p>"It’s not often that journalists can work themselves and their opinions deep into their own reportage and get away with it...

                        So it is with James Hider’s reports from the heart of the holy wars in the Middle East and Roberto Saviano’s hair-raising recitations of the numerous sins of the Neapolitan mafia."
                            <div class="magazine">
                                <strong>NELSON MAIL, NZ</strong></p><br />
                            </div>
                    </div>

                    <br />
                    <a class="btn btn-primary btn-lg book_buttons" role="button" a href="/Hider Website SOA-free chapter1.pdf">Free Chapter</a>
                    <!-- <a class="btn btn-primary btn-lg book_buttons" role="button">Download</a> -->
                    <a class="btn btn-primary btn-lg book_buttons" role="button" a href="/buy">Buy</a>

                </div>

            </div>

        </div>

    </body>

</div>
