<!-- <h2>The Law of Return</h2> -->

  <body class="law">

    <div class="span4 no-margin no-border"></div>
    <div class="span4 no-margin no-border">
      <img class="img_cronix no-margin" src="<%= asset_path("Return.jpg") %>" />
    </div>
    <div class="span4 no-margin no-border"></div>

    <div class="clear no-margin no-border">
      <div class="jumbotron">
        <h1>The Law of Return</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet nibh ut ornare fringilla. Pellentesque sollicitudin tortor mi, ac posuere ligula tincidunt vitae. Cras at tincidunt tortor, ut laoreet erat. Vivamus eu hendrerit libero. Integer vehicula ut leo eu iaculis. Curabitur viverra est sem. Nulla facilisi.</p>

          <p>Sed feugiat orci sed scelerisque consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus commodo id risus vulputate aliquam. Praesent pulvinar consectetur nibh, vitae porta est eleifend in.</p>
          <br />
          <a class="btn btn-primary btn-lg" role="button">Free Chapters</a>
          <a class="btn btn-primary btn-lg" role="button">Download</a>
          <a class="btn btn-primary btn-lg" role="button">Buy</a>
      </div>
    </div>

  </body>
