
.about {
   background-color: rgba(0,0,0,1) !important; 
}

.about_images { 
  border: 0 !important;
}

.about_img {
  max-width: 100%;
  border: 0 !important;
  margin: 0 !important;
  padding: 10px !important;
}

.about_text {
  border: 0 !important;
}