
.about_images {

}

.about_img {
  /*margin: 5px !important;*/
  padding: 10px !important;
}

.about_text {
  font-size: 18px;
  line-height: 22px;
}

#credit_container {
  font-size: 8px;
}

#caption_container {
  font_size: 11px;
}

h6 {
  font-size: 12px;
  padding-top: -50px;
}

#pic_container {
  height: 400px;
}

#pic_container img {
  max-height: 100%;
}
