.post-entry{
  border-bottom:solid 1px #CCC;
  padding: 20px;
  /*background:#FFF;*/

  h2{
    a{
      color:#000;
      text-decoration:none;
    }
  }
}

.post-body {
  font-size: 1.2em;
  /*font-style: italic;*/
}
