
.book_container {
  padding: 20px;
}

.book_container img{
  width: 80%;
  margin-bottom: 30px;
  border: 2px solid black;
}

.book_container p {
  height: 30px;
  font-style: italic;
}

.bookstores {
  padding: 20px;
}

.bookstores ul li {
  margin: 5px;
  padding: 5px;
  /*background: black;*/
}
