.book_container {  
  height: 300px;
  margin: 5px;
}

.bookstores li {
  margin: 5px;
  padding: 5px;
  background: black;
}

.bookdata td a {
  padding: 3px 10px;
  margin-right: 20px;
  background-color: rgba(0,0,0,0.1);
}
