
.book_container {
  padding: 20px;
  margin-top: 20px;
}

.book_container img{
  width: 80%;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 30px;
  border: 1px solid black;
  box-shadow: 10px 10px 15px #888888;
}

.book_container p {
  font-style: italic;
}

.bookstores {
  padding: 20px;
}

.bookstores ul li {
  margin: 5px;
  padding: 5px;
}
