
#contact-form {
  margin-top: 50px;
  padding-left: 30px;
}

#contact-data {

}

.form-group {
  margin-top: 30px;
}

.form-button{
  margin-top: 40px;
}

.greeting {
  font-family: Open Sans;
  text-align: center;
  border-radius: 50px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.jacket-image {
  margin-top: 40px;
}

.creditline {
  font-size: 10px;
}

.contact-details {
  padding-top: 20px;
  font-family: Garamond;
  /*font-family: Maven Pro;*/
  font-size: 16px;
}

.contact-field {
  width: 90%;
}
