
#contact-form, #contact-data {
  height: 950px;
}

.form-group {
  margin-top: 50px;
  margin-left: 50px;
}

.form-button{
  margin-top: 40px;
  margin-left: 50px;
}

.jacket-image {
  margin-top: 50px;  
}

.creditline {
  font-size: 10px;
}

.contact-details {
  padding-top: 20px;
  font-family: Garamond;
  font-size: 14px;
}
