
#contact-form, #contact-data {
  height: 900px;
}

.jacket-image {

  height: 250px;
  width: 300px;
  margin-top: 50px;
  margin-left: 175px;
  /*margin-bottom: 30px;*/
  padding-bottom: 50px;
  border: 2px solid black;

}

.contact-details {

  padding-top: 50px;
  margin-left: 175px;
}
