body {
  background: url("https://s3.amazonaws.com/hiderwebsiteimages/800px-Karnak_Temple_Interior.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Garamond;
}

.wrapper {
  margin: 0 auto;
  margin-top: 50px;
}

header {
  margin-bottom: 80px;
}

.main {
  margin: 150px 50px 50px 50px;
}

.sm_icon {
  color: rgba(92, 58, 40, 1);
}

.icon-sign-blank {

  font-size: 2em;
  /*text-align: justify;*/
  /*margin-bottom: 5px;*/

}

.icon-stack-base {

  font-size: 2em;

}

.icon-light {

  font-size: 2em;
  font-family: helvetica;
  text-align: center;
  /*position: ;*/

}

.nav-color {
  background: rgba(241, 229, 223, 0.9);
}

.navbar-color {
  background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 46%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(46%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 46%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 46%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 46%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 46%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
}

.user-menu {
  font-style: bold;
  font-size: 1em !important;

}

.bg_bright {
  background-color: rgba(241, 229, 223, 0.7);
  color: black;
}

.bg_medium_bright {
  background-color: rgba(241, 229, 223, 0.9);
  color: black;
}

.bg_dark {
  background-color: rgba(0,0,0,0.9);
  color: white;
}

.bg_medium_dark {
  background-color: rgba(0,0,0,0.7);
  color: white;
}

img {
  max-width: 100%;
}

.img_medium {
  width: 50%;
  border-radius: 100%;
}

.img_container {
  width: 220px;
  height: 220px;
  margin: 5px;
}

.img_container img {
  height: 100%;
}

/*.thumb {
  float: left;
  width: 70px;
  height: 70px;
  margin-left: 5px;
  margin-bottom: 5px;
}*/

ul {
  list-style-type: none;
  margin: 0;
}

.book_buttons {
  color: white !important;
  font-family: Arial, sans-serif;
  padding: 5px;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-border {
  border: 0 !important;
}

.center {
  margin: 0 auto !important;
}

.clear {
  clear: both;
}

.span4 {
  /*margin-left: 50px;*/
  padding: 20px;
  text-align: justify;
}

.span6 {
  float: right;
  margin-left: 30px;
  padding: 20px;
  text-align: justify;
}

.span8 {
  float: right;
  padding: 20px;
  text-align: justify;
}

.span10 {
  padding: 20px;
  text-align: justify;
}

.span12 {
  padding: 20px;
  text-align: justify;
}

/* added later */
.span1, .span2, .span3, .span5, .span7, .span9, .span11 {
  margin-left: 50px;
  padding: 20px;
  text-align: justify;
}

footer {
  clear: both;
  background-color: rgba(241, 229, 223, 0.9);
  color: black;
  height: 65px;
  text-align: center;
  padding-top: 20px;
}


@media only screen and (max-width : 979px) {

  .main {
    margin-top: 50px;
  }

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {

  .main {
    margin: 0;
  }

}
