.freechapters {
  background-color: rgba(0,0,0,1) !important; 
 
}

.freechapters_images { 
  border: 0 !important;
}

.freechapters_img {
  max-width: 90%;
   margin-left: 15px;
   margin-top: 30px;
 /* border: 0 !important;
  margin: 0 !important;
  padding: 10px !important;*/
}
