/*.bg_bright {

  height: 750px;
}*/

.bg_medium_bright {
  background-color: rgba(241, 229, 223, 0.9);
  color: black;
}


.img_medium_home {
  width: 45%;
  margin-top: 60px;
  margin-left: 60px;
  border: 2px solid black;
}

/*#jkt {
  width: 100%;
  margin: 0 auto;
  border: 2px solid black;
  box-shadow: 10px 10px 15px #888888;
}*/

#jkt img {
  width: 100%;
  margin: 0 auto;
  border: 2px solid black;
  box-shadow: 10px 10px 15px #888888;
}

.cronixquote {
  font-style: normal;
  font-family: Open Sans;
  font-size: 16px;
  color: white;
}

.quotesource {
font-style: italic;
font-size: 13px;
padding-bottom: 70px;

}

.title {
  font-size: 36px;
  /*font-family: Arial;*/
  font-family: EB Garamond;
  letter-spacing: .1em;
  text-align: center;
  /*padding-top: -5px;*/
  background-color: #FF3300;
  /*height: 50px;*/
  /*width: 55%;*/
  border-radius: 35px;
  margin: 0 auto;
}

#intro {
    font-size: 24px;
    /*font-family: Arial;*/
    font-family: Open Sans;
    text-align: center;
    letter-spacing: .05em;
    line-height: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: #F9F5F5;
    -webkit-animation: intro 9s; /* Chrome, Safari, Opera */
    animation: intro 9s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes intro {
    0%   {color: #C39A9A;}
    25%  {color: #D8BDBD;}
    50%  {color: #E7D7D7;}
    100% {color: #F9F5F5;}
    /*50%  {color: #E7D7D7;}*/
    /*25%  {color: #D8BDBD;}
    0%   {color: #C39A9A;}*/
}

/*@-webkit-keyframes intro {
    0%   {color: #FFFF6B;}
    25%  {color: #FFFF8F;}
    50%  {color: #FFFFA8;}
    100% {color: #FFFF6B;}
    50%  {color: #FFFFA8;}
    25%  {color: #FFFF8F;}
    0%   {color: #FFFF6B;}
}*/

/*rgba(241, 229, 223, 0.7)*/
/*rgba(241, 229, 223, 0.9)*/
/*rgba(0,0,0,0.7)*/
/*rgba(241, 229, 223, 0.9)*/

/* Standard syntax */
@keyframes intro {
    0%   {color: #C39A9A;}
    25%  {color: #D8BDBD;}
    50%  {color: #E7D7D7;}
    100% {color: #F9F5F5;}
    50%  {color: #E7D7D7;}
    25%  {color: #D8BDBD;}
    0%   {color: #C39A9A;}
}



.credit {
  font-size: 9px;
  padding-left: 60px;
  font-family: EB Garamond;
}

.bio p {
  font-size: 16px;
  text-align: left;
  padding-top: 15px;
  padding-left: 60px;
  padding-right: 20px;
  font-size: 16px;
  line-height: 24px;
}



#text {
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 50px;
  font-size: 18px;
  letter-spacing: .025em;
  line-height: 1.5em;
  font-family: Open Sans;
  color: #F9F4F4;
  text-align: justify;

}

