/*.bg_bright {

  height: 750px;
}*/


.img_medium_home {
  width: 45%;
  margin-top: 60px;
  margin-left: 60px;
  border: 2px solid black;
}

#jkt {
  width: 100%;
  margin: 0 auto;
  border: 2px solid black;
}

.blurbs_home {
  font-style: italic;
  color: white;
}

.title {
  font-size: 36px;
  font-family: Arial;
  letter-spacing: .1em;
  text-align: center;
  /*padding-top: -5px;*/
  background-color: #FF3300;
  /*height: 50px;*/
  /*width: 55%;*/
  border-radius: 35px;
  margin: 0 auto;
}

#intro {
    font-size: 24px;
    font-family: Arial;
    text-align: center;
    letter-spacing: .05em;
    line-height: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: #D8BDBD;
    -webkit-animation: intro 9s; /* Chrome, Safari, Opera */
    animation: intro 9s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes intro {
    0%   {color: #C39A9A;}
    25%  {color: #D8BDBD;}
    50%  {color: #E7D7D7;}
    100% {color: #F9F5F5;}
    50%  {color: #E7D7D7;}
    25%  {color: #D8BDBD;}
    0%   {color: #C39A9A;}
}

/*@-webkit-keyframes intro {
    0%   {color: #FFFF6B;}
    25%  {color: #FFFF8F;}
    50%  {color: #FFFFA8;}
    100% {color: #FFFF6B;}
    50%  {color: #FFFFA8;}
    25%  {color: #FFFF8F;}
    0%   {color: #FFFF6B;}
}*/

/*rgba(241, 229, 223, 0.7)*/
/*rgba(241, 229, 223, 0.9)*/
/*rgba(0,0,0,0.7)*/
/*rgba(241, 229, 223, 0.9)*/

/* Standard syntax */
@keyframes intro {
    0%   {color: #C39A9A;}
    25%  {color: #D8BDBD;}
    50%  {color: #E7D7D7;}
    100% {color: #F9F5F5;}
    50%  {color: #E7D7D7;}
    25%  {color: #D8BDBD;}
    0%   {color: #C39A9A;}
}

/*#title {
  text-align: center;
  padding-top: 50px;
  color: red;
  /*padding-left: 100px;*/
 /* padding-bottom: 20px;
}*/

.credit {
  font-size: 9px;
  padding-left: 60px;
}

.bio p {
  font-size: 16px;
  text-align: left;
  padding-top: 15px;
  padding-left: 60px;
  padding-right: 20px;
  /*padding-bottom: 40px;*/
  font-size: 16px;
}

/*#intro {*/
  /*text-align: center;*/
  /*padding-bottom: 30px;*/
/*}*/

#text {
  padding-top: 10px;
  padding-bottom: 50px;
  font-size: 18px;
  letter-spacing: .025em;
  line-height: 1.5em;
  font-family: Garamond;
  color: #F9F4F4;
  text-align: justify;
  /*width: 75%;*/
}

