body.spiders {
  background: asset-data-url("Hider Website SoA background.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img_spiders {
  border: 1px solid white;
  margin-bottom: 30px;
}

.blurbs_spiders {
  color: black;
}

.quotes_spiders {
  margin-left: 400px;
  margin-right: 40px;
  color: white;
  font-size: 9pt;
  font-weight: 20;
  text-align: justify;
  background-color: rgba(0,0,0,0.25);
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
