// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post-list {
  font-size: 1.2em;
  margin: 30px auto;
}

.post-list thead, tbody {
  border-bottom: 1px solid white ;
}

.post-list th, td {
  padding: 10px 20px; 
  text-align: left;
}

.post-new {
  text-align: center;
  font-size: 1.2em;
  background: black;
  padding: 20px;
  width: 10%;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 100%;
}