<div class="main bg_dark">

    <div class="bg_bright">

        <div class="row-fluid">

            <h1 class="category-header">Editing category</h1>

            <%= render 'form' %>

            <p class="category-button">
                <%= link_to 'Show', @category %>
            </p>
            <p class="category-button">
                <%= link_to 'Back', categories_path %>
            <p/>            

        </div>

    </div>

</div>
