<!DOCTYPE html>
<html>
<head>
    <title>James Hider</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>

    <div class="wrapper">

        <header>

            <div class="navbar navbar-static-top">
                <div class="navbar-inner">
                    <div class="container-fluid navbar-color">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="#">James Hider</a>

                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="home-menu"><a href="/">Home</a></li>            
                                <li class="about-menu"><a href="/about">About me</a></li>
                                <li class="fiction-menu dropdown">                               
                                    <a id="drop1" role="button" data-toggle="dropdown" href="#">Fiction
                                        <span class="caret"></span>
                                    </a>
                                    <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="/cronix">Cronix</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="/the_law_of_return">The Law of Return (coming soon)</a>
                                        </li>                                        
                                    </ul>
                                </li>

                                <li class="nonfiction-menu dropdown">                                   
                                    <a id="drop2" role="button" data-toggle="dropdown" href="#">Non-Fiction
                                        <span class="caret"></span>
                                    </a>
                                    <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop2">
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="/spiders_of_allah">Spiders of Allah</a>
                                        </li>                                                                               
                                    </ul>                                    
                                </li>                      
                                <li class="freechapters-menu"><a href="/freechapters">Free Chapters</a></li>
                                <li class="buy-menu"><a href="/buy">Buy</a></li>
                                <li class="forum-menu"><a href="/forum">Forum</a></li>
                                <li class="blog-menu"><a href="/blog">Blog</a></li>
                                <li class="contact-menu"><a href="/contact">Contact</a></li>
                            </ul>

<!--                             <div class="dropdown">
                              <a data-toggle="dropdown" href="#">Dropdown trigger</a>
                              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                ...
                              </ul>
                            </div> -->


                        </div>
                    
               
                    </div>
                <span class="pull-right"><a href=""><i class="fa fa-twitter fa-2x"></i></a></span>
                <span class="pull-right"><a href=""><i class="fa fa-facebook fa-2x"></i></a></span>
                <span class="pull-right"><a href=""><i class="fa fa-google-plus fa-2x"></i></a></span>
            
                </div>
            </div>



            
        </header>

        <div class="main">
            <%= yield %>
        </div>

        <footer>
            <div class="copyright">
                <p>&copy; 2014, Copyright James Hider</p>
            </div>
        </footer>

    </div>

</body>
</html>
