<!DOCTYPE html>
<html>
<head>
    <title>James Hider</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>

    <div class="wrapper">

        <header>

            <div class="navbar navbar-static-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="#">James Hider</a>
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="home-menu"><a href="#home">Home</a></li>            
                                <li class="about-menu"><a href="#about">About me</a></li>
                                <li class="fiction-menu"><a href="#fiction">Fiction</a></li>
                                <li class="nonfiction-menu"><a href="#nonfiction">Non-Fiction</a></li>
                                <li class="freechapters-menu"><a href="#freechapters">Free Chapters</a></li>
                                <li class="buy-menu"><a href="#buy">Buy</a></li>
                                <li class="forum-menu"><a href="#forum">Forum</a></li>
                                <li class="blog-menu"><a href="#blog">Blog</a></li>
                                <li class="contact-menu"><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </header>

        <div class="main">
            <%= yield %>
        </div>

        <footer>
            <div class="copyright">
                <p>&copy; 2014, Copyright James Hider</p>
            </div>
        </footer>

    </div>

</body>
</html>
